BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 120

BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: false

AlignAfterOpenBracket: DontAlign
BinPackArguments: true
BinPackParameters: true

PointerAlignment: Left
ReferenceAlignment: Left

SortIncludes: true
IncludeBlocks: Regroup

ReflowComments: true
SpacesInParentheses: false
SpaceBeforeParens: ControlStatements

AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AllowShortCaseLabelsOnASingleLine: true
