BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 150

BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: false

AlignAfterOpenBracket: DontAlign
BinPackArguments: false
BinPackParameters: false

PointerAlignment: Left
ReferenceAlignment: Left

SortIncludes: true
IncludeBlocks: Regroup

ReflowComments: true
SpacesInParentheses: false
SpaceBeforeParens: ControlStatements

AlignConsecutiveAssignments: true
